/**
Site : Power IT Limited
Author : Delwar Hossain Arif
E-mail : dharif23@live.com
Creation Date: 09 - Oct - 2011
Last Update: 16 - Oct - 2011
Copyright: Power IT Limited
*/
@charset "utf-8";
/* CSS Document */

/*--------------- CSS RESETS ------------------ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
{ 
	margin:0;
	padding:0;
}
table 
{
	border-collapse:collapse;
	/*border-spacing:0;*/
}
img 
{ 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var 
{
	font-style:normal;
	font-weight:normal;
}
ol,ul 
{
	list-style:none;
}
caption,th 
{
	text-align:left;
}
h1,h2,h3,h4,h5,h6 
{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after 
{
	content:'';
}
abbr,acronym 
{ 
	border:0;
}
ul li !important
{
	margin:0;
}
/*------------------------- TAGS ---------------------------------*/
h3
{
	font-size:24px;
	line-height:1.2em;
	color:#FD8D2A;
	letter-spacing:-2px;
}
/*------------------------- WRAPPER ------------------------------*/
#wrapper
{
	width:1000px;
	margin:0 auto;
}
#mainContainer
{
	width:1000px;
	float:left;
}
/*------------------------- HEARDER -----------------------------*/
#header {
	height:105px;
	width:1000px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}

#header_top {
	width:1000px;
	height:24px;
	border-bottom:solid 1px #625e5a;
	background:#fd8d2a;
}

#header_top p {
	float:right;
	padding:7px 20px 7px 0;
}

#header_top p a {
	padding:0 5px 0 5px;
	background:url(../images/header_top_a.jpg) no-repeat right;
	float:left;
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#444343;
}

#header_top p a.bg_none {
	background:none;
	padding-right:0px;
}

#header_bottom {
	height:80px;
	width:980px;
	border-bottom:solid 1px #4d4d4d;
	padding:0 20px 0 0;
	background:#464646;
}

#header_bottom img { 
	float:left;
	position:relative;
	width:228px;
	height:79px;
	padding:0 26px 0 0;
	
}

#header_bottom p.header_bottom {
	float:left;
	position:relative;
	padding:13px 0 14px 0;
}

#total_botom {
	background: url(../images/_logo_right.jpg) no-repeat left;
	width:706px;
	height:52px;
	float:left;
	padding:13px 0 14px 12px;
	position:relative;
	color:#ffffff;
	font:Tahoma, Arial, Helvetica, sans-serif;
	margin: 0 0 0 8px;
}

#bottom_left {
	float:left;
	position:relative;
	width:464px;
	margin:  0 0 0 5px;
}

#bottom_left h3 {
	font-size:32px;
	margin:-5px 0 0 0;
	font-weight:bold;
}

#bottom_left p {
	font-size:13px;
	padding:0;
	margin:0;
	border:0;
}

#bottom_left p a{
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	padding:9px 0 0 0;
	margin:0;
	border:0;
	color:#ffffff;
}

#bottom_left p a:hover{
	text-decoration:none;
	color:#FD8D2A;
}

#bottom_right {
	background:url(../images/_logo_right.jpg) no-repeat left;
	float:left;
	position:relative;
	padding:0 0 0 12px;
}

#bottom_right h3{
	font-size:22px;
	margin:-5px 0 0 0;
	font-weight:bold;
}

#bottom_right p {
	padding-top:0px;
	font-size:12px;
	margin: 0 0 0 5px;
}

#bottom_right p.last {
	padding:0;
	font-size:12px;
}
/*-------------------------- CONTENT ----------------------------*/
#content
{
	width:720px;
	margin:20px 0 0 0;
	background-color:#ffffff;
	float:right;
}
#content .view a
{
	text-decoration:none;
	font:normal 13px/34px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
#content .view a:hover
{
	text-decoration:none;
	font:normal 13px/34px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
#content .label
{
	background-color:#4c4c4c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
}
#content .label span
{
	font:bold 17px/35px "Tribuchet MS",Tahoma, Arial, Helvetica, sans-serif;
	padding-left:20px;
	color: #FFF;
}
#content ul li{
	background:#f5f6f6;
	width:720px;
	height:34px;
	margin-top:10px;
	border: 1px solid #e0e0e0;
}
#content ul li span{
	padding-left:9px;
	font:normal 13px/34px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	padding-right:23px;
}
#content ul li .edit_delete{
	float:right;
	font:normal 13px/34px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
#content ul li .edit{
	float:left;
	height:31px;
	background:#fd8d2a;
	color:#ffffff;
	font:bold 12px/32px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	margin:1px 1px 4px 0px;
	padding:0 22px;
	overflow:hidden;
}

#content ul li .delete{
	background:#4c4c4c;
	height:31px;
	color:#ffffff;
	font:bold 12px/32px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	margin:1px 1px 0 0px;
	padding:0 22px;
	float:right;
	overflow:hidden;
}
#left_content {
	float:left;
	position:relative;
	width:461px;
	padding:0 34px 0 0;
}

#left_content .field {
	width:449px;
	border:#c0c0c0 solid 1px;
	height:31px;
	padding:10px 0 11px 10px;
	font:normal 22px/32px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#left_content .check {
	border:#c0c0c0 solid 1px;
	height:12px;
	width:12px;
	margin: 0 10px 0 0;
}

#left_content span.span {
	padding:5px 10px 0 0;
}
#right_content {
	float:left;
	position:relative;
	width:450px;
	margin:10px 0 0 0;
	border-left:solid 1px #ececec;
	padding:0 0 0 34px;
}

#right_content p.right_text {
	font:normal 12px/18px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	padding:0 0 12px 0;
	text-align:justify;
}

#password_reset { 
	width:438px;
	border:#c0c0c0 solid 1px;
	height:31px;
	padding:10px 0 11px 10px;
	font:normal 22px/32px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#right_content p.res_pass {
	height:32px;
	width:127px;
	padding:20px 0 0 0;
}
#content .back{
	float:right;
	padding:6px;
	font:normal 14px/18px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	margin-right:6px;
}
#content .back a{
	text-decoration:none;
	color:#FD8D2A;
}
#content .back a:hover{
	text-decoration:none;
	color:#FFF;
}
#index_container {
	width:1000px;
	background:#ffffff;
	padding:59px 0 0 0;
	font:normal 12px/18px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
#index_container p.first_field {
	padding:18px 0 0 0;
}

#index_container p.second_field {
	padding:13px 0 0 0;
}

#index_container p.submit_login {
	height:32;
	width:68; 
	padding:20px 0 0 0;
}
#left_content h3{
	font-size:32px;
	margin:0;
	font-weight:bold;	
}
#right_content h3{
	font-size:32px;
	margin:0 0 8px 0;
	font-weight:bold;	
}
#forms{
	text-align:center;
	margin:0;
	font:normal 12px/18px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
#content .msg{
	margin:10px auto 0 auto;
	text-align:center;
	padding:10px 0;
	color:#FD8D2A;
	width:420px;
	background:#464646;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
}
#content .extended_msg{
	margin:10px auto 10px auto;
	text-align:center;
	padding:10px 0;
	color:#FD8D2A;
	background:#464646;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
}
/*-------------------------- FOOTER -----------------------------*/
#footer {
	width:960px;
	height:80px;
	margin:60px 0 0 0;
	float:left;
	position:relative;
	background:#4c4c4c;
	padding:26px 20px 0 20px;
}

#footer p.footer_left {
	width:258px;
	float:left;
	position:relative;
	font:normal 12px/17px Tahoma, Arial, Helvetica, sans-serif;
	color:#b7b7b7;
	padding:4px 0px 0 0;
}

#footer_right {
	float:right;
}

#footer_right p {
	float:left;
	position:relative;
	color:#b7b7b7;
	font:normal 12px/15px "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	padding:5px 15px 10px 0;
	width:150px;
	background:url(../images/footer_login_right_side.jpg) no-repeat right;
	text-align:right;
}

#footer_right p a{
	text-decoration:none;
	color:#FD8D2A;
	font-weight:bold;
}
#footer_right p a:hover{
	text-decoration:none;
	color:#e7e7e7;
	font-weight:bold;
}
#footer_right img {
	padding:0 0 0 10px;
}
/*-------------------------- NAVIGATION --------------------------*/
#navigation_container{
	width:260px;
	background-color:#f4f4f4;
	float:left;
	overflow:hidden;
	border: 1px solid #e0e0e0 ;
}
#navigation{
	width:221px;
	border: 1px solid #e0e0e0 ;
	margin:20px;
	overflow:hidden;
	background-color:#ffffff;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
}
.submenu{
	background:#ffffff;
	display:visible;
}
.open .submenu li a{
	width:184px;
	background-color:#F3F3F3;
	border:none;
	padding:5px;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
	margin:0 auto 2px;
}
.open .submenu li a:hover{
	background:#FF9900;
}
.open_menu{
	background-color:#ebebeb;
	text-align:left;
	margin-left:2px;
	margin-right:2px;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
}

.open .submenu li {
	width:178px;
	border:none;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
	margin:2px auto 2px;
}
ul.menu li a.current {
	background : #FD8D2A;
}
.menu
{
	padding: 0;
}
.menu .open
{
	background-color:#ffffff;
	padding:2px 0;
}
.menu li
{
	width:215px;
 	border:1px solid #c4c4c4;
	border-radius:4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:4px;
	background-color:#ebebeb;
	margin:0 auto 2px;
}
.menu li a
{
	padding:5px;
}
.menu li span
{
	padding-left:45px;
	text-align:center;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.menu ul 
{
	margin:0;
	padding:0;
	list-style:none;
}
.menu 
{
	width:221px;
}

.menu a 
{
	display:block;
	padding:2px 0px;
	color:#000;
	background-color:#ccc; /*Main menu background color*/
	text-decoration:none;
}
.menu a:hover 
{
	background-color:#FD8D2A;
	color:#000;
}
.menu ul li 
{
	padding-left:0px;
}
.menu ul a 
{
	background-color:#ebebeb;
	color:#000;
}
.hidden 
{
	display:none;
}
/*----------------------------- MESSAGE BOX --------------------------*/
.messagebox{
	position:absolute;
	width:auto;
	margin-left:20px;
	border:1px solid #c93;
	background:#ffc;
	padding:7px;
	font:normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	color:#000;
}
.messageboxok{
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:7px;
	font-weight:bold;
	color:#008000;
	font:normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	
}
.messageboxerror{
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:7px;
	font-weight:bold;
	color:#CC0000;
	font:normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

/*------------------------------------ FORM STYLE -----------------------*/
/* form style */
#myform {
	background:#464646;	
	padding:15px 20px; 
	color:#eee;
	width:380px;
	margin:10px auto 0 auto;
	font-family:"Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	position:relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
} 

#myform .alpha{
	float:left;
	margin:0;
}

#myform .beta{
	float:left;
	margin-left:50px;
}
/* typography */
#myform h3 	{ color:#eee; margin-top:0px; }
#myform p 	{ font-size:11px; }


/* input field */
#myform input {
	border:1px solid #444;
	background-color:#666;
	padding:5px;
	color:#ddd;
	font-size:12px;
	
	/* CSS3 spicing */
	text-shadow:1px 1px 1px #000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
}

#myform input:focus 		{ color:#fff; background-color:#777; }
#myform input:active 	{ background-color:#888; }


/* button */
#myform button {
	padding:7px;
	outline:0;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
}

#myform hr{
	color:#FFF;
	margin:10px auto;
}
/* error message */
.error {
	height:15px;
	background-color:#FFFE36;
	font-size:11px;
	border:1px solid #E1E16D;
	padding:4px 10px;
	color:#000;
	display:none;
	font-family:"Tribuchet MS",Tahoma,Verdana;
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;	
}

.error {
	margin:0 0 2px;
	padding:2px 6px;	
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 		
}

.error p {
	margin:0;		
}

/* field label */
#terms label {
	float:left;
}

#terms input {
	margin:0 5px;
}

#myform label {
	font-size:11px;		
	margin-top:0;
	display:block;
	text-align:left;
	padding:3px;
}

#myform label input {
	display:block;	
}

.clear {
	clear:both;
	height:15px;		
}

.error em {
	border:10px solid;
	border-color:#FFFE36 transparent transparent;
	bottom:-17px;
	display:block;
	height:0;
	left:60px;
	position:absolute;
	width:0;			
}

 #myform .gama{
	color: #FD8D2A;
	font-family:"Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#myform .delta input{
	margin: 10px auto;
	font-family:"Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#myform .delta label
{
	text-align:center;
}

#myform .alpha select{
margin:0 0 10px 0;
}

#myform .epsilon
{
	text-align:center;
	margin:0;
	padding:0;
}
#myform .epsilon p
{
	text-align:justify;
	margin:0;
	padding:0;
	color:#FD8D2A;
}
#myform .epsilon label
{
	padding:10px 0 10px 0;
}
#myform p{
	color:#FD8D2A;
	font-family:"Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
}
#displayBack {
	background:#464646;	
	padding:15px 20px; 
	color:#eee;
	margin:10px auto 0 auto;
	font-family:"Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	position:relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
} 
#displayBack .displayAlpha {
	float:left;
	margin:0;
}
#displayBack select{
	margin-top:15px;
}
#displayBack p{
	color:#FD8D2A;
}
#displayBack button{
	padding:7px;
	outline:0;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
}
.tbl{
	margin-top:10px;
	font: normal 13px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
}
.tblhead{
	border: 1px solid black;
}
.tbldata_odd{
	background: #c4c4c4;
	padding:3px;
}
.tbldata_even{
	background:#ebebeb;
	padding:3px;
}
#content .info{
	float:right;
	padding:6px;
	font:normal 14px/18px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	margin: 3px 12px 0 0;
	color:#FD8D2A;
}
.link_btn{
	padding:7px;
	outline:0;
	background-color:#FFF;
	color:#000;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
	text-decoration:none;
}
.link_btn1{
	padding:7px;
	outline:0;
	background-color:#4C4C4C;
	color:#FFF;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
	text-decoration:none;
}
.link_btn2{
	padding:7px;
	outline:0;
	background-color:#FD8D2A;
	color:#000;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
	text-decoration:none;
}
.fldst{
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	padding:10px;
	margin-top:10px;
}

.submitcart{
	padding:7px;
	outline:0;
	background-color:#FD8D2A;
	color:#000;
	border:1px solid #666;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
	text-align:center;
}
.highlight{
	color:#FD8D2A;
}
.total{
	font-size: 120%;
	font-weight:bold;
}
#title{
	margin: 10px auto;
}
#title h1,h4{
	font-family: "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;	
}
#title h1{
	font-size: 24px;
}
#sign{
	margin: 40px 0 10px 0;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
.cust_sign{
	float:left;
}
.auth_sign{
	float:right;
}
.nb{
	clear:both;
	margin: 10px 0;
	font: normal 12px/15px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
.price_box{
	text-align:right;
}
.type_view{
	font:normal 13px/34px "Tribuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}